* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-sec {
    background-image: url('../imgs/decore.jpg');
    background-size: cover;
    height: 110vh;
}

.intro {
    display: flex;
    justify-content: center;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social a {
    text-decoration: none;
    color: white;
}

.social-whatsapp {
    background-image:linear-gradient(#128C7E,#25D366);
     /* #25D366 */
}

.social-instagram {
    background-image:linear-gradient(#962FBF,#D62976);
    /* background-color: #C23584; */
}

.social-div {
    width: 80%;
    margin-top: 20px;
    border-radius: 10px;
}

.social-div:hover{
transform: scale(1.05);
transition: 1s;
}

.social-div h2 {
    text-align: center;
    font-size: 40px;
    direction: rtl;
}

.social-div i {
    font-size: 80px;
}

.social-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


@media only screen and (min-width: 488px) and (max-width: 600px) {
    .social-div h2 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 371px) and (max-width: 488px) {
    .social-div h2 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 371px) {
    .social-div h2 {
        font-size: 15px;
    }
}